@media only screen and (min-width: 700px) {
  .Main_Photo--Content {
    height: 95%;

    .Main_Photo--Content_img {
      display: block;
      max-height: 100%;
      margin: auto;
    }
  }
}

@media only screen and (max-width: 700px) {
  .Main_Photo--Content {
    max-width: 100%;
    height: 100%;
    .Main_Photo--Content_img {
      max-width: 100%;
    }
  }
}
