@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
  brightness(104%) contrast(97%);

.Navi {
  .Menu {
    position: fixed;
    height: 70vh;
    width: 60px;
    right: 0;
    top: 15vh;
    margin-right: 20px;
    background-color: #09a509;
    mix-blend-mode: normal;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 800;
    .active {
      filter: $filter;
    }
    img {
      width: 60px;
      height: 60px;
      margin-top: 10px;
    }
    .Logo {
      margin-right: 7px;
      width: 68px;
      height: 68px;
    }
    .Home {
      &:hover {
        filter: $filter;
        cursor: pointer;
      }
    }
    .Gallery {
      &:hover {
        filter: $filter;
        cursor: pointer;
      }
    }
    .Contact {
      &:hover {
        filter: $filter;
        cursor: pointer;
      }
    }
    .ArrowUp {
      position: absolute;
      bottom: 0;
      &:hover {
        filter: $filter;
        cursor: pointer;
      }
    }
  }
}
