@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
  brightness(104%) contrast(97%);

.Navi {
  position: fixed;
  color: white;
  .Menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 800;
    .active {
      filter: $filter;
    }
  }
}

@media (min-width: 700px) {
  .Navi {
    height: 70vh;
    width: 60px;
    right: 0;
    top: 15vh;
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    mix-blend-mode: normal;
    border-radius: 25px;
    z-index: 99;
    .Menu {
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: #afcb1f;
        }
      }
      img {
        width: 60px;
        height: 60px;
        margin-top: 10px;
        padding: 5px;
      }
      .logoItem {
        position: absolute;
        width: 100px;
        height: 100px;
        margin-left: 4px;
      }
      .OfertNavi {
        &:hover {
          filter: $filter;
          cursor: pointer;
        }
      }
      .Home {
        margin-top: 100px;
        &:hover {
          filter: $filter;
          cursor: pointer;
        }
      }
      .Gallery {
        &:hover {
          filter: $filter;
          cursor: pointer;
        }
      }
      .Contact {
        &:hover {
          filter: $filter;
          cursor: pointer;
        }
      }
      .ArrowUp {
        position: absolute;
        bottom: 0;
        right: 0;
        &:hover {
          filter: $filter;
          cursor: pointer;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .Navi {
    width: 100%;
    min-height: 80px;
    background-color: black;
    top: 0;
    left: 0;
    .Menu {
      margin: 0 5px;
      flex-direction: row;
      section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 25%;
        width: 25%;
        padding: 10px 0;
        p {
          font-size: 1rem;
        }
        img {
          max-width: 40px;
          max-height: 40px;
        }
      }
    }
  }
}
