$shadow: 0px 0px 17px 0px #000000;
@import "../Slider/Slider.scss";

.btnShowMoreProjectsFirstPage {
  background-color: orange;
  border: 0;
  padding: 0 5px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    font-size: 17px;
  }
}

.HomeInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  .box-flip,
  .box-flip--slider {
    &:nth-child(odd) {
      transform: translateX(-50vw);
    }
    &:nth-child(even) {
      transform: translateX(50vw);
    }
  }
  .box-flip--slider {
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    display: block;
    animation: boxFlipAnimationOdd 0.8s ease-in-out forwards;
    background-color: #f75eb1;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
  }
  .box-flip {
    width: calc(50% - 20px);
    height: calc(50% - 20px);
    display: block;
    &:nth-child(odd) {
      animation: boxFlipAnimationOdd 0.8s ease-in-out forwards;
    }
    &:nth-child(even) {
      animation: boxFlipAnimationEven 0.8s ease-in-out forwards;
    }
    &:hover .flip-content {
      transform: rotateY(180deg);
      cursor: pointer;
    }

    .flip-content {
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.8s;
      transform-style: preserve-3d;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);

      .front,
      .back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      .front {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 60%;
          height: 60%;
        }
        span {
          text-transform: uppercase;
          font-size: clamp(16px, 3vw, 30px);
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
      .back {
        background-color: dodgerblue;
        color: white;
        transform: rotateY(180deg);
        font-size: clamp(14px, 2.5vw, 24px);
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (max-width: 700px) {
  .HomeInfo {
    width: 100vw;
    min-height: calc(40px + 100vw);
    padding: 20px 0;
    overflow-x: hidden;
    font-size: 13px;
    .box-flip {
      width: calc(50vw - 15px);
      height: calc(50vw - 15px);
      margin: 5px;
      &:hover {
        z-index: 100;
        &:nth-child(odd) {
          .back {
            right: 10px;
          }
        }
        &:nth-child(even) {
          .back {
            left: 10px;
          }
        }
        &:nth-child(3),
        &:nth-child(4) {
          .back {
            top: -50vw;
          }
        }
        .back {
          position: fixed;

          height: calc(100vw - 40px);
          width: calc(100vw - 40px);
          font-size: 24px;
          background-color: rgba(30, 143, 255);
          box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 1);
          border-radius: 20px;
        }
      }

      .front {
        padding: 10px;
        width: 100%;
        span {
          font-size: 1rem !important;
        }
      }
      .back {
        font-size: 20px;
      }
    }

    .box-flip--slider {
      width: calc(50vw - 15px);
      height: calc(50vw - 15px);
      background-color: #e60881;
      overflow: hidden;
      margin: 5px;
      box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);
      img {
        width: calc(50vw - 15px);
        height: calc(50vw - 15px);
        object-fit: fill;
        aspect-ratio: 3/4;
      }
    }
  }
  .btnShowMoreProjectsFirstPage {
    padding: 10px;
    height: auto;
    font-size: 16px;
    line-height: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .box-flip,
  .box-flip--slider {
    margin: 10px;
  }

  .btnShowMoreProjectsFirstPage {
    height: 60px;
    width: 80%;
    font-size: 1.4rem;
    &:hover {
      cursor: pointer;
      font-size: 1.35rem;
    }
  }
}

.shake {
  animation: shake 2s ease;
  animation-delay: 3.5s;
}

@keyframes shake {
  0% {
    transform: rotateY(180deg);
  }
  25% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes boxFlipAnimationOdd {
  from {
    transform: translateX(-50vw) scale(0.5);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes boxFlipAnimationEven {
  from {
    transform: translateX(50vw) scale(0.5);
  }
  to {
    transform: translateX(0);
  }
}
