.Ofert_Page {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url("../../../../../../public/pictures/baner2.webp");
  background-size: cover;
  box-shadow: 0px 19px 22px -2px rgba(184, 184, 204, 1);
  padding-top: 30px;
  .Ofert_Page--Content {
    display: flex;
    flex-direction: column;
    color: white;
    height: 80%;
    justify-content: center;
    .content_multi-container {
      display: flex;
      height: 50%;
      width: 100%;
      .content_multi-conrainer--arrow {
        visibility: hidden;
        position: absolute;
        width: 0;
        height: 0;
      }
    }
    .multi-container--infoBox {
      border: 0.5px solid black;
      padding: 20px;
      border-radius: 25px;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      text-align: center;
      .ofert_title {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
      .btnShowMoreOferts {
        border: 3.5px solid orange;
        background-color: transparent;
        padding: 0 5px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: white;
        font-weight: 600;
        transition: 0.2s;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 700px) {
  .Ofert_Page {
    min-height: 70vh;
    align-items: flex-start;

    .Ofert_Page--Content {
      width: 100%;
      height: 100%;
      padding: 20px;
      .content_multi-container {
        flex-direction: column;
        .multi-container--infoBox {
          margin: 20px 0;
          h1 {
            font-size: 30px;
            margin: 10px 0 10px 20px;
            text-align: left;
          }
          .infoBox_list {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            .infoBox_list--item {
              font-size: 16px;
              padding: 10px 5%;
              margin: 5px 0;
              display: flex;
              align-items: flex-start;
              justify-content: space-between;
              border-bottom: 2px solid white;
              .OfertListItem--img {
                height: 20px;
              }
            }
          }
        }
      }
    }

    .btnShowMoreOferts {
      height: 50px;
      width: 100%;
      margin: 30px 0 10px 0;
      font-size: 26px;
      &:first-child {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: 700px) {
  .Ofert_Page {
    .btnShowMoreOferts {
      height: 40px;
      width: 80%;
      margin: 10px 0;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        font-size: 17px;
      }
    }
    min-height: 100vh;
    justify-content: center;
    .Ofert_Page--Content {
      margin: 10px auto;
      height: 80%;
      width: 80%;
      .content_multi-container {
        flex-direction: row;
        margin-top: 30px;
        margin-left: 20px;
        height: auto;
        flex-wrap: wrap;
        div:nth-child(2) {
          margin-top: 50px;
          margin-left: 20px;
        }
      }
      .multi-container--infoBox {
        width: clamp(350px, 45%, 450px);
        max-height: 50%;

        h1 {
          font-size: 32px;
          text-transform: uppercase;
          margin-left: 50px;
        }
        .infoBox_list {
          margin: 10px 0;
          padding: 5px;
          .infoBox_list--item {
            display: flex;
            font-size: 22px;
            justify-content: space-between;
            margin: 10px 0;
            border-bottom: 2px solid white;
            .OfertListItem--img {
              height: 40px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
