.GalleryPicOnPage_content {
  margin: 10px;
  .GalleryPicOnPage_content--img {
    border-radius: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .GalleryPicOnPage_box {
    .swiper {
      width: 90%;
      height: 450px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-slide {
        width: 200px !important;
        height: calc((100% - 30px) / 2) !important;
      }
    }
  }
  .GalleryPicOnPage_content {
    margin: 0;
    display: block;
    width: 200px;
    min-height: 200px;
    border-radius: 1rem;
    transition: transform 0.3s ease;
    padding: 5px;

    .GalleryPicOnPage_content--img {
      width: 100%;
      height: 100%;
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 25px 50px -12px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .GalleryPicOnPage_box {
    .swiper {
      width: 90%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
      padding: 20px;
      .swiper-wrapper {
        align-items: center;
      }
      .swiper-slide {
        width: 150px !important;
        height: calc((100% - 30px) / 2) !important;
      }
    }
  }
  .GalleryPicOnPage_content {
    max-width: 80%;
    .GalleryPicOnPage_content--img {
      width: 150px;
      height: 150px;
      border-radius: 10%;
      &:focus-visible {
        opacity: 0;
      }
    }
  }
}
