@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

.title_page_logo {
  display: flex;
  text-align: left;
  width: 40%;
  min-width: 400px;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  span {
    font-family: "Libre Baskerville", serif;
  }
  div:nth-child(1) {
    background-color: #e60881;
    color: #afcb1f;
    height: 50px;
  }
  div:nth-child(2) {
    background-color: #afcb1f;
    color: #e60881;
    height: 50px;
  }
  div:nth-child(3) {
    background-color: #afcb1f;
    color: #e60881;
    width: 100%;
    height: auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 5px;
  }
}
.title_page_logo > div {
  background-color: red;
  border-radius: 25px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 700px) {
}
@media (max-width: 700px) {
  .title_page_logo {
    display: none;
  }
}

@media (min-width: 1200px) {
  .title_page_logo {
    flex-direction: row;
    flex-wrap: wrap;
    height: 115px;
    margin-left: 10%;
    margin-bottom: 20px;
    & > div {
      width: 50%;
    }
  }
}

@media (max-width: 1200px) {
  .title_page_logo {
    flex-direction: column;
    & > div {
      width: 60%;
      margin-left: 10%;
      &:first-child {
        margin-bottom: 5px;
      }
      &:last-child {
        margin-left: 0;
        width: 80%;
        margin-bottom: 20px;
      }
    }
  }
}
