@media (min-width: 700px) {
  .Ofert_Page {
    .btnShowMoreOferts {
      border: 3.5px solid orange;
      background-color: transparent;
      height: 40px;
      width: 80%;
      padding: 0 5px;
      margin: 10px 0;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: white;
      font-weight: 600;
      transition: 0.2s;
      border-radius: 20px;
      font-size: 1.2rem;
      &:hover {
        cursor: pointer;
        font-size: 17px;
      }
    }
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    .Ofert_Page--Content {
      margin: 10px 0;
      margin-right: 100px;
      height: 80%;
      width: 80%;
      .content_multi-container {
        flex-direction: row;
        margin-top: 30px;
        margin-left: 20px;
        height: auto;
        flex-wrap: wrap;
        div:nth-child(2) {
          margin-top: 50px;
          margin-left: 20px;
        }
      }
      .multi-container--infoBox {
        width: 45%;
        max-height: 50%;
        text-align: center;
        .ofert_title {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        h1 {
          font-size: 32px;
          text-transform: uppercase;
          margin-left: 50px;
        }
        .infoBox_list {
          margin: 10px 0;
          padding: 5px;
          .infoBox_list--item {
            display: flex;
            font-size: 22px;
            justify-content: space-between;
            margin: 10px 0;
            .OfertListItem--img {
              height: 40px;
              margin-right: 20px;
            }
          }
        }
      }
    }
  }
}
