@media (min-width: 700px) {
  .Ofert_Page {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    .Ofert_Page--Content {
      margin: 10px 0;
      margin-right: 100px;
      height: 80%;
      width: 80%;
      .content_multi-container {
        flex-direction: row;
        margin-top: 30px;
        margin-left: 20px;
        height: auto;
        flex-wrap: wrap;
        div:nth-child(2),
        div:nth-child(4) {
          margin-top: 50px;
          margin-left: 20px;
        }
      }
      .multi-container--infoBox {
        width: 45%;
        max-height: 50%;
      }
    }
  }
}
