@import "./Components/styles/btnstyles.scss";
@import "./Components/SettingsButton/SettingsButton.scss";

$gallerysettings-width-form: 50%;
$gallerysettings-width-pics: calc(100% - $gallerysettings-width-form);

:export {
  galleryWidth: $gallerysettings-width-form;
}

.Gallerysettings {
  width: 100%;
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  .gallerysettings-form {
    width: $gallerysettings-width-form;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
    padding: 20px;

    .headerForm {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-transform: uppercase;
      align-items: center;
      h1 {
        font-size: 1.4em;
        text-align: center;
        width: 80%;
      }
      img {
        &:hover {
          cursor: pointer;
          filter: invert(14%) sepia(90%) saturate(6114%) hue-rotate(358deg)
            brightness(107%) contrast(113%);
        }
      }
    }

    .newFolderGroup {
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 80%;
      justify-content: center;
      align-items: center;
      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 100%;
        margin-bottom: 20px;

        .btn {
          border: 2px solid orange;
          color: orange;
          background-color: black;
          padding: 8px 20px;
          border-radius: 8px;
          font-size: 1.2rem;
          font-weight: bold;
          width: 100%;
        }
        input[type="file"] {
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
      .selectFile {
        width: 100%;
        h2 {
          font-size: 1.6rem;
          text-align: center;
          margin: 5px 0;
        }
        select,
        .form__input-text,
        .form__btn {
          width: 100%;
          padding: 8px 20px;
          margin: 15px 0;
          background-color: black;
          border: none;
          border-bottom: 2px solid orange;
          color: white;
        }
        .foldername {
          position: relative;
          display: block;
          height: auto;
          .form__input-text {
            display: block;
            &:focus + span {
              top: -20px;
              font-weight: 900;
              font-size: smaller;
            }
          }
          span {
            position: absolute;
            left: 0px;
            top: 6px;
            margin-left: 6px;
            width: fit-content;
            color: white;
            transition: 0.5s ease;
          }
        }

        .form__btn {
          border: 2px solid orange;
          color: orange;
          background-color: black;
          border-radius: 8px;
          font-size: 1.1rem;
          font-weight: bold;
          width: 100%;
          &:hover {
            cursor: pointer;
          }
        }
        .btn_send {
          transition: background 0.2s linear;
          display: flex;
          overflow: hidden;
          position: relative;
          align-items: center;
          height: auto;
          width: 100%;
          &:after {
            position: absolute;
            background: rgba(black, 0.2);
            transform: scale(0);
            height: 50px;
            width: 50px;
            margin: auto auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            content: "";
            border-radius: 8px;
          }
          &:hover {
            cursor: pointer;
            span {
              transform: translateX(0);
            }
          }
          .left {
            float: left;
          }
          span {
            transform: translateX(-100%);
            transition: transform 0.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            height: auto;
            flex-basis: 100%;
            min-width: 100%;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border-radius: 8px;
          }
        }
      }
      .form__file-label {
        .form__input {
          background-color: red;
          width: 100&;
          height: 40px;
          padding: 10px;
        }
      }
    }
    .buttons_group {
      width: 80%;
      .form__btn {
        position: relative;
        display: inline-block;
        transition: 0.5s;
        border: 2px solid orange;
        color: orange;
        background-color: black;
        padding: 8px 20px;
        border-radius: 8px;
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%;
        margin: 10px 0;
        overflow: hidden;
        &:hover {
          cursor: pointer;
          border: 2px solid transparent;
        }
        &:hover span {
          position: absolute;
          display: block;
          &:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, black, orange);
            animation: btn-anim1 1s linear infinite;
          }
          &:nth-child(2) {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, orange, black);
            animation: btn-anim2 1s linear infinite;
            animation-delay: 0.25s;
          }
          &:nth-child(3) {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, black, orange);
            animation: btn-anim3 1s linear infinite;
            animation-delay: 0.5s;
          }
          &:nth-child(4) {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, orange, black);
            animation: btn-anim4 1s linear infinite;
            animation-delay: 0.75s;
          }
        }

        @keyframes btn-anim1 {
          0% {
            left: -100%;
          }
          50%,
          100% {
            left: 100%;
          }
        }
        @keyframes btn-anim2 {
          0% {
            top: -100%;
          }
          50%,
          100% {
            top: 100%;
          }
        }
        @keyframes btn-anim3 {
          0% {
            right: -100%;
          }
          50%,
          100% {
            right: 100%;
          }
        }
        @keyframes btn-anim4 {
          0% {
            bottom: -100%;
          }
          50%,
          100% {
            bottom: 100%;
          }
        }
      }
    }
  }
  .gallerysettings-counter {
    max-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    .gallerysettings-counter-images {
      max-width: calc(50% - 20px);
      width: 100%;
      min-width: 260px;
      min-height: 450px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      flex-wrap: wrap;
      border: 2px solid orange;
      padding: 10px;
      margin: 10px;
      border-image: linear-gradient(200deg, black, orange, black);
      border-image-slice: 1;
      h2 {
        width: 100%;
        text-align: center;
        margin: 0 0 10px 0;
        padding: 10px;
        border-bottom: 2px solid transparent;
        border-image: linear-gradient(90deg, black, orange, black);
        border-image-slice: 1;
      }
      .butttonsImageGroup {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 0;
        justify-content: space-between;
        &:hover {
          cursor: pointer;
        }
        .ImageGroup--btn {
          width: calc(30% - 10px);
          height: 50px;
          border: 2px solid orange;
          color: orange;
          background-color: black;
          border-radius: 8px;
          font-size: 1.1rem;
          font-weight: bold;
          margin: 5px;
          &:hover {
            cursor: pointer;
          }
          &:first-child:hover {
            border-color: green;
            color: green;
          }
          &:nth-child(2):hover {
            border-color: red;
            color: red;
          }
        }
      }

      .image_checkbox__group {
        display: inline-block;
        position: relative;
        .counter__image {
          width: 75px;
          height: 75px;
          margin: 2px;
          box-sizing: border-box;
          padding: 1px;
          border-radius: 25px;
          &:hover {
            cursor: pointer;
          }
          &:hover &::after {
            position: absolute;
            width: 150px;
            height: 150px;
          }
        }
        input {
          opacity: 0;
          position: absolute;
          right: 0;
          top: 5px;
          border: 1px solid blue;
        }
        input:checked {
          opacity: 1;
        }
      }
    }
  }
}
