$delay: 1.1s;
$animationTime: 1.5s;

.logoTest {
  width: 34px;
  height: 34px;
  display: none;
}

.logoI {
  background-color: #e60881;
  position: absolute;
  top: 80px;
  animation: logoIA $animationTime ease;
  animation-delay: $delay;
}

@keyframes logoIA {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logoII {
  background-color: white;

  box-shadow: rgba(0, 0, 0, 0.577) 1px 1px 1px 1px;
  position: absolute;
  top: 80px;
  right: 20px;
  animation: logoIIA $animationTime ease;
  animation-delay: $delay;
}

@keyframes logoIIA {
  0% {
    transform: rotate(-360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logoIII {
  background-color: #e60881;
  position: absolute;
  animation: logoIIIA $animationTime ease;
  animation-delay: $delay;
}

@keyframes logoIIIA {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.logoIIII {
  background-color: #afcb1f;
  position: absolute;

  animation: logoIIIIA $animationTime ease;
  animation-delay: $delay;
}

@keyframes logoIIIIA {
  0% {
    transform: rotate(-360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (min-width: 700px) {
  .logoI {
    left: 15%;
  }

  .logoIII {
    bottom: 150px;
    left: 15%;
  }

  .logoIIII {
    bottom: 150px;
    right: 20px;
  }
}

@media (max-width: 700px) {
  .logoI {
    left: 20px;
  }

  .logoIII {
    bottom: -25px;
    left: 20px;
  }

  .logoIIII {
    bottom: -25px;
    right: 20px;
  }
}
