.opinionssettings-content {
  display: block;
  color: white;
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  .queued_list {
    width: 100%;
    .queued_list--item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px;
      div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 2px solid white;
        padding: 10px;
        width: clamp(150px, 20%, 250px);
        height: auto;
        h3,
        span {
          margin-top: 5px;
        }
        h3 {
          font-size: 1rem;
        }
        span {
          font-size: 0.8rem;
        }
        &:last-child {
          border-right: 2px solid white;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .queued_list--item {
    div {
      width: 100% !important;
    }
  }
}
