.homePage {
  display: flex;
  max-width: 100%;
  background-image: url("../../../../public/pictures/baner2.jpg");
  background-size: cover;

  .homeInfo {
    display: flex;
    flex-direction: column;
    .info {
      color: white;
      h2 {
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: 700px) {
  .homePage {
    min-height: 100vh;
    align-items: center;
    flex-direction: column;

    .homeInfo {
      .homeItemLogo {
        display: none;
      }
      .info {
        width: 40%;
        margin: 5% 0 0 5%;
        h2 {
          font-size: 30px;
        }

        p {
          margin-top: 15px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .homePage {
    min-height: 100vh;
    justify-content: left;

    .homeInfo {
      width: 100%;
      height: 100%;
      align-items: center;
      img {
        width: 60%;
        max-height: 40%;
      }
      .info {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        padding: 0 20px;

        h2 {
          font-size: 36px;
          text-align: center;
        }
        p {
          font-size: 1.1em;
        }
      }
    }
  }
}
