@import "./subcomponents/HomeInfo/HomeInfo.scss";
@import "./subcomponents/Slider/Slider.scss";
@import "./subcomponents/TitlePageLogo/TitlePageLogo.scss";

.homePage {
  display: flex;
  max-width: 100%;
  padding-top: 30px;
  background-image: url("../../../../public/pictures/ofert.jpg");
  background-size: cover;
}

@media (min-width: 700px) {
  .homePage {
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    .homePage_content {
      width: 90%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 700px) {
  .homePage {
    min-height: 100vh;
    justify-content: left;
    flex-direction: column;
  }
}
