@import "../SubComponents/AllSelectedPicsFromGallery/AlleSelectedPicsFromGallery.scss";

.Selected_Pics_Modal--Group_Photos_From_Project {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 700px) {
  .Selected_Pics_Modal--Group_Photos_From_Project {
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    padding-bottom: 10px;
    .arrow_gallery {
      filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg)
        brightness(104%) contrast(97%);
      &:hover {
        cursor: pointer;
      }
    }
    .close {
      color: black;
    }
  }
}
@media only screen and (max-width: 700px) {
  .Selected_Pics_Modal--Group_Photos_From_Project {
    width: 100%;
    height: 100%;
    .close {
      position: absolute;
      top: 0;
      right: 10px;
      color: black;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
      z-index: 251;
    }
    .back {
      position: absolute;
      left: 0;
      top: 200px;
      z-index: 251;
    }
    .next {
      position: absolute;
      right: 0;
      top: 200px;
      z-index: 251;
    }
  }
}
