.GalleryPicOnPage_box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  .GalleryPicOnPage_content {
    margin: 10px;
    .GalleryPicOnPage_content--img {
      border-radius: 50%;
    }
  }
}

@media only screen and (min-width: 700px) {
  .GalleryPicOnPage_box {
    width: 90%;
    margin: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
    height: 75vh;

    .GalleryPicOnPage_content {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 320px;
      min-height: 340px;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
      transition: transform 0.3s ease;
      h3 {
        margin-top: 10px;
      }
      padding: 10px;
      transform: rotate(4deg);
      &:nth-child(even) {
        will-change: auto;
        transform: rotate(4deg);
      }

      &:nth-child(odd) {
        will-change: auto;
        transform: rotate(-4deg);
      }
      &:first-child {
        margin-left: 20px;
      }

      .GalleryPicOnPage_content--img {
        margin-top: 10px;
        width: 250px;
        height: 250px;
        opacity: 1;
        border-radius: 0;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &:hover > .GalleryPicOnPage_content:hover {
      will-change: auto;
      transform: scale(1.1);
      z-index: 1000;
      background-color: white;
      .GalleryPicOnPage_content--img {
        // width: 255px;
        opacity: 1;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  .galleryPage {
    min-height: min-content !important;
  }
  .GalleryPicOnPage_box {
    text-align: center;
    margin-top: 20px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
    justify-content: flex-start;
    .GalleryPicOnPage_content {
      max-width: 80%;
      .GalleryPicOnPage_content--img {
        width: 250px;
        height: 250px;
        border-radius: 10%;
        &:focus-visible {
          opacity: 0;
        }
      }
    }
  }
}
