@import url("https://fonts.googleapis.com/css2?family=Asap&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

@import "./Pages/AppPage/components/Navi/Navi";

* {
  font-family: "Asap", sans-serif;
}
@import "./Pages/AppPage/styles/animate.scss";

@import "./Pages/AppPage/components/Social/Social.scss";
@import "./Pages/AppPage/components/LogoLoad/LogoLoadPage.scss";

@import "./Pages/AppPage/Pages/ContactPage/ContactPage.scss";
@import "./Pages/AppPage/Pages/GalleryPage/GalleryPage.scss";
@import "./Pages/AppPage/Pages/HomePage/HomePage.scss";
@import "./Pages/AppPage/Pages/OfertPage/Oferta.scss";
@import "./Pages/AppPage/Pages/OpinionsPage/Opinions.scss";
@import "./Pages/AppPage/Pages/WhyUsPage/WhyThis.scss";

body {
  max-width: 100vw;
  height: 100%;
}

$titlePagePadding: 10px 0 10px 30px;
$titlePageMargin: 0 0 30px 50px;

.title_page {
  padding: $titlePagePadding;
  margin: $titlePageMargin;
  text-align: left;
  width: 35%;
  border: 3.5px solid orange;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  border-radius: 50px;
}

@media (min-width: 700px) {
  .title_page {
    min-width: 400px;
    height: fit-content;
  }
}

@media (max-width: 700px) {
  .title_page {
    width: 98.5%;
    margin: 0 auto;
  }
}

.openModalBg {
  will-change: auto;
  transform: scale(1);
  background: rgba(0, 0, 0, 0.7);
}
.openModalOpinion {
  animation: openModal 0.5s forwards;
}

@keyframes openModal {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(0.95);
  }
  95% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
