$shadow: 0px 0px 17px 0px #000000;
@import "../Slider/Slider.scss";

.btnShowMoreProjectsFirstPage {
  background-color: orange;
  border: 0;
  padding: 0 5px;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: 600;
  transition: 0.2s;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    font-size: 17px;
  }
}

.testHomeInfo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .testHomeInfo {
    flex-direction: row;
  }
}

////
///
///
///
///
///
///

.box-flip {
  width: calc(50% - 20px);
  height: calc(50% - 20px);
  display: block;
  margin: 10px;
  &:hover .flip-content {
    transform: rotateY(180deg);
  }

  .flip-content {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 1);

    .front,
    .back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
    }
    .front {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 60%;
        height: 60%;
      }
      span {
        text-transform: uppercase;
        font-size: 3vw;

        font-weight: 800;
        letter-spacing: 2px;
      }
    }
    .back {
      background-color: dodgerblue;
      color: white;
      transform: rotateY(180deg);
      font-size: 2.5vw;
      padding: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.shake {
  animation: shake 2s ease;
}

@keyframes shake {
  0% {
    transform: rotateY(180deg);
  }
  25% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.flipFirst {
  transform: rotateY(180deg);
  animation-delay: 6s;
  animation: firstAnime 1s ease;
}
@keyframes firstAnime {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@media (max-width: 700px) {
  .testHomeInfo {
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    .box-flip {
      width: 80vw;
      height: 80vw;
      .front {
        padding: 10px;
        span {
          font-size: 1.9rem;
        }
      }
      .back {
        font-size: 20px;
      }
    }
  }
  .btnShowMoreProjectsFirstPage {
    height: 90%;
    font-size: 26px;
    line-height: 50px;
  }
}

@media only screen and (min-width: 700px) {
  .btnShowMoreProjectsFirstPage {
    height: 60px;
    width: 80%;
    font-size: 1.4rem;
    &:hover {
      cursor: pointer;
      font-size: 1.35rem;
    }
  }
}
