.LogoLoadPage {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: LogoPageAnimation 0.5s ease-in forwards;
  animation-delay: 2.5s;
}

@media (max-width: 700px) {
  .LogoLoadPage {
    .LogoLoadPage--img {
      margin-left: 5px;
      max-width: 100vw;
    }
  }
}

@media (min-width: 700px) {
  .LogoLoadPage {
    z-index: 10000;
    .LogoLoadPage--img {
      width: 50%;
    }
  }
}

@keyframes LogoPageAnimation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
    background-color: transparent;
  }
  100% {
    background-color: transparent;
    display: none;
    transform: scale(0);
  }
}
