@media only screen and (min-width: 700px) {
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    background-color: rgba(0, 0, 0, 0.9);
    margin: auto; /* Black w/ opacity */
  }
  .modal-content {
    will-change: auto;
    margin: auto;
    display: block;
    max-height: 100%;
    max-width: 700px;
    animation-name: zoom;
    animation-duration: 0.6s;
    padding: 20px 0;

    @keyframes zoom {
      from {
        transform: scale(0.1);
      }
      to {
        transform: scale(1);
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .modal {
    display: none;
  }
  .modal-content {
    width: 100%;
  }
}
