.Ofert {
  width: 100%;
  height: calc(100vh);
  display: flex;
  border-top: 10px solid rgba(255, 255, 255, 0.4);
  align-items: center;
  background-image: url("../../../../public/pictures/ofert.jpg");
  background-size: cover;
  .container {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 10px 0;
    margin-right: 100px;
    .containerDouble {
      display: flex;
      flex-direction: row;
      margin-top: 30px;
      height: 50%;
      margin-left: 20px;
      div:nth-child(2) {
        margin-top: 50px;
        margin-left: 20px;
      }
    }
    .infoOfert {
      border: 2px solid black;
      padding: 20px;
      border-radius: 25px;
      width: 50%;
      height: 100%;
    }
  }
}
