@import "./Navigation/NavigationAminPanel.scss";

@import "../LoginPage/LoginPage.scss";
@import "../AdminPanelContent/Settings/Gallerysettings/Gallerysettings.scss";

.AdminPanelContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .AdminPanelContent--setings {
    width: 80%;
    height: 80%;
    background-color: black;
  }
}
